.btn-trans {
  background-color: transparent;
  color: #fff;
  font-size: 24px;
}

.btn:hover {
  background-color: #54606c;
}
.fas {
  margin-right: 10px;
}
.wrapper {
  background-color: #dee2e6;
}

.fa-eye,
.fa-trash-alt {
  cursor: pointer;
  font-size: 25px;
}
.fa-folder-open {
  font-size: 25px;
}

img {
  display: none;
}

th,
td {
  word-break: break-all;
}

#back {
  display: none;
  cursor: pointer;
}

.log-out {
  color: #fff;
}

#create-alert,
#upload-alert {
  display: none;
}

.show {
  display: block;
}

@media (min-width: 992px) {
  .modal-lg {
    max-width: 500px;
  }
}
