.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 500px) {
    height: auto;
  }
}

.checkbox-lg {
  margin: 50px 0;
}

.or {
  display: inline-block;
  padding: 8px 16px;
}

.form-wrapper {
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2);
}

.login-form {
  padding-top: 100px;
}
